.modal{
    height: 550px;
    width: 450px;
    background-color: white;
    margin-left: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #3494e6, #ec6ead);
}
.modal-content{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 margin-top: 50px;
}
.input-name{
    color: white;
    font-size: 18px;
    padding-right: 7px;
}
.input-modal{
    border-radius:3px;
    border: none;
    height:23px;
    width: 200px;
    padding-left: 5px;
}
.rating-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.btn{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to right, #c33764, #1d2671);
    color: white;
}
.btn-add{
    height: 450px;
    width: 200px;
    font-size: 100px;
    color: white;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    border: none;
    box-shadow: #3494e6 1px 3px 3px 3px;
    border-radius: 3px;
    margin-left: 41px;
    margin-right: 41px;
}
